* {
	font: 16px Arial;
	color: black;
	text-align: left;
}

div {
	display: flex;
	width: 55%;
	margin-top: 3%;
	flex-direction: column;
}

.flexrow {
	display: flex;
	height: 30%;
	flex-direction: row;
}

.directions {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a, label {
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card {
	font: 30px Arial;
border: 5px dotted black;
padding: 5%;
	background-color: rgb(252, 207, 214);
}

.cardsection {
	background-color: lightpink;
	height: 300px;
	align-items: center;
	padding: 5%;
	margin: 3%;
	align-items: center;
	  justify-content: center;

}

#app {
	flex-basis: 1 1 auto;
}
