<!DOCTYPE html>
<html>
<head>
	<meta name="generator" content=
	"HTML Tidy for HTML5 for Linux version 5.2.0">
	<link rel="icon" 
	      type="image/png" 
		        href="icon.png">
	<title>Flashcard</title>
	<meta name="generator" content="">
	<link rel="stylesheet" href="flashcards.css">
	<title></title>
</head>
<body>
	<div id="app" v-on:keyup.enter="next">
		<label v-bind:hidden="notstarted"><label>{{length}}</label> cards in stack</label>
		<div class="cardsection">
		<label id="question" class="card">{{ question }}</label>
		<label class="card" v-bind:hidden="dontshowanswer">{{ answer }}</label>
		</div>
		<div class="flexrow">
			<a v-bind:hidden="notstarted" v-bind:href="link" download="saved-stack.json">Save</a>
			<label v-bind:hidden="notstarted" class="directions">Use N, Space, Arrow Keys, or Vim controls to go to the next card. Press D
			to delete current card from the stack. Use the "Save" link to
			save your progress. Press R to restart to your original stack.</label>
		</div>
		<a href="instructions.html">How to get started.</a>
		<a href="list.csv" download="list.csv">Example CSV file (right click and save as "list.csv").</a>
	</div>
	<script src="vue.js">
	</script> 
	<script src="flashcards.js">
	</script>
</body>
</html>
