* {
	font: 16px Arial;
	color: black;
	text-align: left;
}

div {
	width: 65%;
	display: flex;
	margin-top: 3%;
	flex-direction: column;
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.directions {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a, label {
	margin: 10px;
	padding-top: 5px;
	padding-bottom: px;
}

.card {
	font: 30px Arial;
}

.cardsection {
	height: 55%;
}

img {
	width: 100%;
}

p {
	margin-top: 3%;
	}
